In [2]:
def saludo():#define una funcion
  print('Hola!!!')
saludo()

Hola!!!

In [4]:
def suma(a,b):
  return a+b

resultado = suma(4,7)
print('resultado =',resultado)
print('la variable resultado es de tipo: ', type(resultado))

resultado = 11
la variable resultado es de tipo:  <class 'int'>

In [7]:
def ConvertirAString(numero):
  return str(numero)#convrsion implicita

def multiplicacion(num1, num2):
  res = num1*num2
  return ConvertirAString(res)

resultado = multiplicacion(2,3)
print('resultado =',resultado)
print('la variable resultado es de tipo: ', type(resultado))

resultado = 6
la variable resultado es de tipo:  <class 'str'>

In [8]:
def principal():
  print('soy la principal')
  def secundaria():
    print('soy la secundaria')
  secundaria()#solo existe si es invocada pr la funcion principal

principal()

soy la principal
soy la secundaria

In [11]:
def resta(num1, num2):
  return num1-num2

resta(num2=4,num1=5)

1

In [15]:
def doble(num1, num2=2):#"num2" define una valor de seteo
  return num1*num2

doble(5)

10

In [ ]:
def parametro_indeterminado(parametro1, *args):
  print(parametro1)
  for arg in args:
    print(arg)

parametro_indeterminado('hola mundo', 1, True, 0.1, 56, [0,1,2,3,4,5])

hola mundo
1
True
0.1
56
[0, 1, 2, 3, 4, 5]

In [ ]:
def parametro_nombre(parametro1, *args, **kwargs):
  print(parametro1)
  for arg in args:
    print(arg)
  print(kwargs)


parametro_nombre(1, 'hola','mundo',c='parametro nombre',a=1)

1
hola
mundo
{'c': 'parametro nombre', 'a': 1}

In [ ]:
def miFuncion():
  pass

print(type(miFuncion()))

<class 'NoneType'>

In [ ]:
def operaciones(a,b):
  suma = a + b
  resta = a - b
  multiplicacion = a*b
  return suma, resta, multiplicacion

print(operaciones(5,3),type(operaciones(5,3)))
s, r, m = operaciones(6,2)
print(s)
print(r)
print(m)

(8, 2, 15) <class 'tuple'>
8
4
12

In [ ]:
def palabra():
  palabra = 'Manzana'

  def localVar():
    palabra = 'Uva'
  
  def noLocalVar():
    nonlocal palabra
    palabra = 'Melón'
  
  def globalVar(): 
    global palabra
    palabra = 'Sandía'
  
  localVar()
  print('Valor de variable luego de localVar: ' + palabra)
  noLocalVar()
  print('Valor de variable luego de noLocalVar: ' + palabra)
  globalVar()
  print('Valor de variable luego de globalVar: ' + palabra)
palabra()
print('Valor de variable fuera de la funcion: ' + palabra)

Valor de variable luego de localVar: Manzana
Valor de variable luego de noLocalVar: Melón
Valor de variable luego de globalVar: Melón
Valor de variable fuera de la funcion: Sandía

In [ ]:
class Carro:
  marca = 'Toyota'

a = 4
print(type(a))
miAuto = Carro
miAuto.color = 'azul'
print(miAuto.marca)
print(miAuto.color)

<class 'int'>
Toyota
azul

In [ ]:
class Auto:
  marca = 'Tesla'

  def mostrarMotor():
    print('El motor del auto es electrico')

miAuto2 = Auto
miAuto2.mostrarMotor()

El motor del auto es electrico

In [ ]:
class DosNumeros:
  def __init__(self, num1, num2):
    self.v1 = num1
    self.v2 = num2


numeros = DosNumeros(5,3)
print(numeros.v1)
print(numeros.v2)

5
3

In [ ]:
class Contenedor:
  pass

x = Contenedor()

x.contador = 0

while x.contador < 10:
  x.contador += 1
  print(x.contador)

del x.contador

1
2
3
4
5
6
7
8
9
10

In [ ]:
class Funcion:
  def f(self):
    print('hola mundo')

x = Funcion()
x.f()
for i in range(10):
  x.f()

hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo
hola mundo

In [ ]:
class humano:
  especie = 'Homo Sapiens'

  def __init__(self, nombre):
    self.nombre = nombre
  
humano1 = humano('David')
print("nombre: "+ humano1.nombre + " de la especie " + humano1.especie)
humano2 = humano('Emilio')
print("nombre: "+ humano2.nombre + " de la especie " + humano2.especie)

nombre: David de la especie Homo Sapiens
nombre: Emilio de la especie Homo Sapiens

In [ ]:
class Perro:
  especie = 'canino'
  
  def __init__(self, nombre):
    self.nombre = nombre
    self.trucos = []

  def aprenderTrucos(self, truco):
    self.trucos.append(truco)

perro1 = Perro('Bolt')
perro2 = Perro('Shawn')

perro1.aprenderTrucos('Caminar en dos patas')
perro2.aprenderTrucos('rodar')

print(f'Los trucos aprendidos por {perro1.nombre} son:')
print(perro1.trucos)
print(f'Los trucos aprendidos por {perro2.nombre} son:')
print(perro2.trucos)

Los trucos aprendidos por Bolt son:
['Caminar en dos patas']
Los trucos aprendidos por Shawn son:
['rodar']

In [ ]:
class Calculadora:
  def __init__(self):
    self.resultado = 0
  
  def sumarDosVeces(self, numero1, numero2):
    self.sumar(numero1, numero2)
    self.sumar(numero1, numero2)

  def sumar(self, numero1, numero2):
    self.resultado = self.resultado + numero1 + numero2

x = Calculadora()
x.sumar(5,4)
print("El resultado de la suma es: " + str(x.resultado))

x2 = Calculadora()
x2.sumarDosVeces(5, 4)
print("El resultado de la suma es: " + str(x2.resultado))

El resultado de la suma es: 9
El resultado de la suma es: 18

In [ ]:
class Suma:
  def __init__(self):
    self.resultado = 0

  def suma(self, num1,num2):
    print(num1+num2)

a = Suma()
a.suma(1,2)

def suma2(num1, num2):
  print(num1+num2)

suma2(4,5)

3
9

In [ ]:
diccionario= {
    'objeto': 'Automovil';
    'color': 'rojo';
    'puertas': 4
}